$font-family-base: 'Nunito', sans-serif;
$body-bg: #F8FAFC;
$primary: #1E3A8A;
$secondary: #F59E0B;
$btn-color: #ffffff;



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 1100px,
  xl: 1200px,
  xxl: 1400px
);
$border-radius: 12px; 
$input-border-radius: $border-radius;
$btn-border-radius: $border-radius;

$input-btn-border-width: 3px; // Controlează grosimea borderului pentru butoane și input-uri
$border-width: 2px; // Grosime de fallback

$form-range-thumb-width: 1.5rem;  // Bulina cu 50% mai mare
$form-range-thumb-height: 1.5rem;
$form-range-thumb-bg: $secondary; // Culoarea bulinei glisante (portocaliu/galben)
$form-range-track-bg: #94a3b8;    // Culoarea fundalului barei pe care glisează

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
@import "../../node_modules/bootstrap/scss/bootstrap";