
body {
    --culoare_fundal: hsl(174, 72%, 56%);
    --culoare_contur: black;
    --margine_pagina: 150px;
    background-color: var(--culoare_fundal);
    
}

main {
    margin-left: var(--margine_pagina);
    margin-right: var(--margine_pagina);
}

#grid-pagina {
    display: grid;
    gap:10px;
    /*griduri de 3 coloane*/
    grid-template-columns:2fr 1fr 1fr ;
    grid-template-areas:
        "welcome welcome welcome"
        "promotii promotii anunturi"
        "fig1 orar orar"
        "fig2 orar orar"
        "fig3 orar orar"
        "produse produse produse"
        "index-intrebari index-intrebari index-intrebari";
}

#grid-pagina > * {
   
    border: 1px solid var(--culoare_contur);
    padding:10px;
    box-shadow: 0px 0px 5px var(--culoare_contur);
}

#welcome { grid-area: welcome; }
#promotii { grid-area: promotii; }
#anunturi { grid-area: anunturi; }
#orar { grid-area: orar; }
#fig1 { grid-area: fig1; }
#fig2 { grid-area: fig2; }
#fig3 { grid-area: fig3; }
#produse { grid-area: produse; }
#index-intrebari { grid-area: index-intrebari; }
figure{margin:0;/*resetare-margine*/}
figure>img{width:100%;}

@media screen and (max-width: 1200px) {
    body { --margine_pagina: 80px; }
    #grid-pagina {
    
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "welcome welcome welcome"
        "promotii promotii anunturi"
        "fig1 orar orar"
        "fig2 orar orar"
        "fig3 orar orar"
        "produse produse produse"
        "index-intrebari index-intrebari index-intrebari";
}

}

@media screen and (max-width: 700px) {
    body { --margine_pagina: 50px; }
    #grid-pagina
    {display:block};
}